{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Branch
{% endblock %}
{% block content %}
<br>
<div class="card col-12">
    <div class="card-header">
        <h3 class="card-title">Details Of Branch</h3></div>
        <button><a href="{% url 'download_branchcsv' %}" class="btn-btn-success">Branch Details Download</a></button>
        
    </div>
    <div class="card-body">
        <table id="example1" class="table">
            <thead>
                <tr>
                    <td>Branch_code</td>
                    <td>Add1</td>
                    <td>Add2</td>
                    <td>City</td>
                    <td>Telephone</td>
                   
                </tr>
            </thead>
            <tbody>
                {% for data in branches %}
                <tr>
                    
                    <td>{{ data.Branch_code }}</td>
                    <td>{{ data.Add1 }}</td>
                    <td>{{ data.Add2 }}</td>
                    <td>{{ data.City }}</td>
                    <td>{{ data.Telephone }}</td>
                    <td>
                        <a href="{% url 'home' %}" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}